<div class="ek-switch-district">
  <ul class="ek-switch-district-tab text-center">
    {{#each typeList}}
      <li class="ek-switch-district-tab-item {{class}}" data-type="{{id}}">{{label}}</li>
    {{/each}}
  </ul>
  {{#each contentList}}
    <div class="ek-switch-district-tab-content {{class}}" data-type="{{id}}">{{content}}</div>
  {{/each}}
</div>