<div>
	{{#if mask}}
		<div class="ek-modal-mask"></div>
	{{/if}}
	<div class="ek-modal-wrap" tabindex="-1">
		<div class="ek-modal">
			<div class="ek-modal-content">
				<button aria-label="Close" class="ek-modal-close"><i class="iconfont icon-close"></i></button>
				<div class="ek-modal-header">{{title}}</div>
				{{#if subTitle}}
					<div class="ek-modal-subheader text-center {{type}}"><i class="iconfont icon-{{iconType}}"></i>{{subTitle}}</div>
				{{/if}}
				<div class="ek-modal-body"></div>
				<div class="ek-modal-footer">
					<div class="text-center">
						{{#if cancelVisible}}
							<button data-type="cancel" class="ek-button medium rounded {{cancelClass}}">{{cancelText}}</button>
						{{/if}}
						{{#if confirmVisible}}
							<button data-type="confirm" class="ek-button medium rounded {{confirmClass}}">{{confirmText}}</button>
						{{/if}}
					</div>
				</div>
			</div>		
		</div>
	</div>	
</div>